<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        div {
            padding: 10px;
        }
        h1 {
            color: #262626;
            margin-bottom: 10px;
        }

        p{
            font-size: 15px;
            color: #262626;
        }
    </style>
</head>
<body>
<div>
    <h1>{{title}}</h1>
    <p>{{text}}</p>
</div>
</body>
</html>